<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h2 th:text="${seat.seatName}"></h2>
<h5 th:text="|${#lists.size(seat.viewList)}개의 시야 정보가 있습니다.|"></h5>

<div>
  <ul>
    <li th:each="view : ${seat.viewList}">
      작성자 : <span th:if="${view.writer != null}" th:text="${view.writer.username}" />, 점수 : <span th:text="${view.seatScore}" />, 코멘트 : <span th:text="${view.comment}" />
    </li>
  </ul>
</div>

<form th:action="@{|/view/write/${seat.seatId}|}" method="post">
  <input type="hidden" name="_csrf" value="{{#_csrf}}token{{/_csrf}}" />
  <textarea name="comment" id="comment" rows="5"></textarea>
  <select name="seatScore" id="seatScore">
    <option th:each="score : ${#numbers.sequence(1, 5)}" th:value="${score}" th:text="${score}"></option>
  </select>
  <input type="submit" value="시야 작성">
</form>
</body>
</html>
