<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>극장 조회</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container my-3">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>번호</th>
                <th>극장명</th>
                <th>극장주소</th>
                <th>좌석수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="theater, loop : ${theaterList}">
                <td th:text="${loop.count}"></td>
                <td>
                    <a th:href="@{|/theater/${theater.theaterId}|}" th:text="${theater.theaterName}"></a>
                </td>
                <td th:text="${theater.theaterArea}"></td>
                <td th:text="${theater.theaterSeats + '석'}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
